.root {
  width: var(--main-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.totalComment {
  font-weight: 500;
  margin-bottom: 0.5rem;
  margin-left: 80px;
}

.main {
  display: flex;
  width: 100%;
}

.side {
  width: 80px;
  padding-right: 2rem;
}


.comment {
  display: block;
  border: 1px solid lightgray;
  outline: none;
  padding: .5rem;
  border-radius: 4px;
  margin-bottom: 1rem;

  &:focus {
    border: 2px solid lightblue;
  }
}

.commentBtn {
  border-radius: 0.5rem;
  align-self: flex-end;
  width: fit-content;
  color: white;
  border: none;
  padding: 0.6rem 1.5rem;
}

.commentBtnDisable {
  background-color: #94d3a2;
}

.commentBtnActive {
  background-color: #2ea44f;
}
