.root {
  background-color: white;
  color: black;
  padding: 0;
  margin: 0 auto;
  text-align: justify;

  h3 {
    margin: 0;
  }

  pre {
    overflow-x: scroll;
  }
}

.heading {
  h1 {
    margin-bottom: 0;
  }

  margin-bottom: 2rem;
}

.content {
  text-align: justify;
  a {
    color: var(--link-color);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .root {
    width: 100%;
    padding: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .root {
    width: 100%;
    padding: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .root {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .root {
    width: 70%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .root {
    width: 70%;
  }
}
